body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

h1{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: Arial, sans-serif;
}

.container{
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 15px;
    color: rgb(83, 83, 83);
    background-color:antiquewhite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
    font-size: 2rem;
}

p{
    font-size: 1.4rem;
    font-family: fantasy;
}

.points-bar-container{
    position: absolute;
    width: 100px;
    height: 200px;
    border-radius: 10%;
    padding: 0;
    background-color: aliceblue;
    bottom: 10%; 
    right: 5%;
}

.points-bar{
    background-color: #45a049;

}

.survey-container {
    max-width: 800px;
    margin: auto;
    cursor: pointer;
}
.question {
    margin: 20px 0;
}
.question label {
    display: block;
    margin-bottom: 5px;
}
.question input[type="range"] {
    width: 100%;
}

.question .range-labels {
    display: flex;
    justify-content: space-between;
}

.popup{
    border-radius: 20%;
    display: none;
    width: 150px;
    height: 150px;
    font-size: 2rem;
}

#submit-btn {
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 16px 20px; /* Espaçamento interno para tornar o botão maior */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    font-size: 20px;
    margin-top: 20px;
    display: block;
    margin: 20px auto;
}

#submit-btn:hover {
    background-color: #1cde26; /* Cor de fundo ao passar o mouse */
    transition-duration: 0.4s;

}

/* Estilizando o ícone dentro do botão */
#submit-btn i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto do botão */
    
}

.fa-thumbs-up{
    font-size: 20px;
}

.question .range-labels span {
    font-size: 0.8em;
}

input[type="radio"] {
    position: relative;
    cursor: pointer;
    font-size: 0.8em;
    width: 20px; /* Largura */
    height: 20px; /* Altura */
}

label{
    margin-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#question-1,
#question-2,
#question-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

#feedback-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Garante que apareça acima de outros elementos */
    text-align: center;
}

#progress-bar-container {
    width: 100%;
    background-color: #cee2ff;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#progress-bar {
    height: 24px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 24px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

